<section>
    Naše ordinace používá pro zabezpečenou komunikaci s pacienty virtuální
    sestru Emmy. Emmy nahrazuje email a do velké míry i telefon. Usnadní vám
    přístup k péči i objednání a zároveň šetří vzácný čas zdravotnickému
    personálu. Objednání pouze přes program EMMY.

    <a
        href="http://www.sestraemmy.cz/ryjackova"
        target="_blank"
        rel="noreferrer noopener"
        aria-disabled="false"
        aria-label="Sestra Emmy"
        ><span>Emmy - registrace</span></a
    >
</section>
