<section>
    <a
        href="http://www.sestraemmy.cz/ryjackova"
        target="_blank"
        rel="noreferrer noopener"
        aria-label="Sestra Emmy"
        ><img
            src="{{ '/assets/emmy-logo.png' | relative_url }}"
            alt="Emmy logo"
            style="max-width: 440px; max-height: 150px"
    /></a>
    <p>
        Naše ordinace používá pro zabezpečenou komunikaci s pacienty virtuální
        sestru Emmy. Emmy nahrazuje email a do velké míry i telefon. Usnadní vám
        přístup k péči i objednání a zároveň šetří vzácný čas zdravotnickému
        personálu. Objednání pouze přes program EMMY.
    </p>
    <p>
        <a
            href="http://www.sestraemmy.cz/ryjackova"
            target="_blank"
            rel="noreferrer noopener"
            aria-label="Sestra Emmy"
            class="btn-emmy"
            >Emmy - registrace</a
        >
    </p>
</section>
