<section>
    <h2>Ordinační hodiny</h2>

    <table class="hours-table">
        <tbody>
            <tr
                class="row"
                id="1">
                <td class="day">Pondělí</td>
                <td>7:00–8:00 odběry</td>
                <td>8:00–13:00 objednaní</td>
            </tr>
            <tr
                class="row"
                id="2">
                <td class="day">Úterý</td>
                <td></td>
                <td>13:00–18:0 objednaní</td>
            </tr>
            <tr
                class="row"
                id="3">
                <td class="day">Středa</td>
                <td>7:00–8:00 odběry</td>
                <td>8:00–14:00 objednaní</td>
            </tr>
            <tr
                class="row"
                id="4">
                <td class="day">Čtvrtek</td>
                <td>7:00–8:00 odběry</td>
                <td>8:00–14:00 objednaní</td>
            </tr>
            <tr
                class="row"
                id="5">
                <td class="day">Pátek</td>
                <td>7:00–8:00 odběry</td>
                <td>8:00–12:00 objednaní</td>
            </tr>
        </tbody>
    </table>
</section>
