<!doctype html>
<html lang="cs">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0" />

        <title>{{ page.title }} | {{ site.title }}</title>
        <link
            rel="stylesheet"
            href="/assets/style.css" />
        <link
            rel="stylesheet"
            href="{{ '/assets/ordinacni-hodiny.css' | relative_url }}" />
    </head>

    <script>
        const today = new Date().getDay(); // 0 = neděle
        const map = {
            1: 1, // Po
            2: 2,
            3: 3,
            4: 4,
            5: 5,
        };
        const todayId = map[today];
        if (todayId) {
            document.querySelectorAll(".hours-table .row").forEach((row, i) => {
                if (i === todayId - 1) {
                    row.classList.add("active");
                }
            });
        }
    </script>
    <body>
        <main>{{ content }}</main>
    </body>
</html>
